<p>Here are your loto numbers:</p>
<p></p>
<p><%= @lotto %></p>
<p></p>
<p>Here art Funcool we give you premium loto numbers guaranteed to find you sucess.  Our commission is only 10% or your winnings!!</p>